[submodule ".config/emacs"]
	path = .config/emacs
	url = git@github.com:ewhd/emacs.git
[submodule ".config/xdg-ninja"]
	path = .config/xdg-ninja
	url = https://github.com/b3nj5m1n/xdg-ninja.git
[submodule ".config/zsh/plugins/zsh-autosuggestions"]
	path = .config/zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule ".config/zsh/plugins/zsh-syntax-highlighting"]
	path = .config/zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
