[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/ewhd/Desktop/language-support.desktop]
row=4
col=0

[52B4B50AB4B4F199]
row=0
col=0

[Trash]
row=1
col=0

[/]
row=2
col=0

[/home/ewhd]
row=3
col=0

